form {
    
text-align: right;
 
width: 400px;
  
border-style:solid;
border-width:5px; 
background-color : white;
}


formTable{
   // top: 1000px;
    
}


head h1,h2,h3{
   color: white;
}



body{

//background-image:url('bodyBackground.jpg');
background-color: #c0f5fb;

//background-size: 100% auto;


}   

#legend{
    padding-left:2cm;
    display: inline-block;
    font-style:  normal;
    //color: white;
}

#yellowborder{
    display: inline-block;
    border: 3px solid gold;
}

#separator{
    padding: 10px;
    display: inline-block;
    font-style:  normal;
    //color: white;
}

#redfont{
    font-style: italic;
    display: inline-block;
    color: red;
}

form_1.label{
    
display: inline-block;
       
//float: left;
    
//clear: left;
    
//width: 250px;
    
text-align: 
left;
}



.button{
   
 text-align: right;


.clear { clear: both; height: 0; line-height: 0; }
.floatright { float: right; }
}





input {
  
//display: inline-block;
  
//float: right; 
  
//text-align: right;
 
 //float: center;
  
//float: left;
   
 //width: 250px;
}


.popup {
 /*
    This class is used for the lightbox effect.
 */
 
 /*  
    display: none;
    height: 82%;
    left: 30%;
    
    //left: 19%;
    padding: 1ex;
    position: fixed;
    top: 10%;
    
    z-index: 1;
 */ 
  height: 400px;
  font-size: large;
  width: 44%;
  display: none;
  border: 3px solid black;
}



  .bold-green-font {
    font-weight: bold;
    color: green;
  }

  .bold-font {
    font-weight: bold;
  }

  .right-text {
    text-align: right;
  }

  .left-text {
    text-align: left;
  }

  .small-width {
    width: 62%;
  }
  .large-font {
    font-size: 15px;
  }

  .italic-darkblue-font {
    font-style: italic;
    color: darkblue;
  }

  .italic-purple-font {
    font-style: italic;
    color: purple;
  }
 .italic-red-font {
    font-style: italic;
    color: red;
  }

  .underline-blue-font {
    text-decoration: underline;
    color: blue;
  }

  .gold-border {
    border: 3px solid gold;
  }

  .red-border {
    border: 3px solid red;
  }

.yellow-border {
    border: 3px solid yellow;
  }
  .orange-background {
    background-color: orange;
  }

  .orchid-background {
    background-color: orchid;
  }

  .beige-background {
    background-color: beige;
  }

