form {
    
text-align: right;
    
width: 400px;
   
border-style:solid;
border-width:5px; 
background-color : white;
}



head h1,h2,h3{
   color: white;
}



body{

background-image:url('bodyBackground.jpg');

background-size: 100% auto;


};    





form_1.label{
    
display: inline-block;
    
//float: left;
    
//clear: left;
    
//width: 250px;
    
text-align: 
left;
}



.button, button{
   
 text-align: right;


.clear { clear: both; height: 0; line-height: 0; }
.floatright { float: right; }
}





input {
  
//display: inline-block;
  
//float: right; 
  
//text-align: right;
 
 //float: center;
  
//float: left;
   
 //width: 250px;
}


.popup {
 /*
    This class is used for the lightbox effect.
 */
    font-size: xx-large;
    display: none;
    height: 82%;
    left: 19%;
    padding: 1ex;
    position: fixed;
    top: 10%;
    width: 62%;
    z-index: 1;
    
}



  .bold-green-font {
    font-weight: bold;
    color: green;
  }

  .bold-font {
    font-weight: bold;
  }

  .right-text {
    text-align: right;
  }

  .left-text {
    text-align: left;
  }

  .small-width {
    width: 62%;
  }
  .large-font {
    font-size: 15px;
  }

  .italic-darkblue-font {
    font-style: italic;
    color: darkblue;
  }

  .italic-purple-font {
    font-style: italic;
    color: purple;
  }

  .underline-blue-font {
    text-decoration: underline;
    color: blue;
  }

  .gold-border {
    border: 3px solid gold;
  }

  .red-border {
    border: 3px solid red;
  }

  .orange-background {
    background-color: orange;
  }

  .orchid-background {
    background-color: orchid;
  }

  .beige-background {
    background-color: beige;
  }

