form {
    text-align: right;
    width: 400px;
    background-color : gray;
}

head h1,h2,h3{
    color: white;
}

body{
    background-color : blue;    

}

form_1.label{
    display: inline-block;
    //float: left;
    //clear: left;
    //width: 250px;
    text-align: left;
}

input {
  //display: inline-block;
  //float: right; 
  //text-align: right;
  //float: center;
  //float: left;
    //width: 250px;
}

.button, button{
    text-align: right;
}

.clear { clear: both; height: 0; line-height: 0; }
.floatright { float: right; }
}


